* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecera-titulo {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 20px;
    height: 100px;
    border: 5px solid #000;
}

.cabecera-titulo h1 {
    margin: 0;
    color: #fff;
    font-size: 50px;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction:row;
}

.contenedor-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    flex-grow: 1;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}

.listado-titulo-salas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 100%;
    padding: 10px;
    height: 94px;

}

.listado-titulo-salas h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

nav ul {
    word-break:break-all;
    padding: 0;
}

nav ul li {
    border: 1px solid #777;
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

.sala:hover {
    background-color: #444;
}
.sala[data-activa="true"] {
    background-color: #222;
}

.chat {
    display: grid;
    grid-template-rows: auto 10fr auto;
    border: 1px solid #fff;
}

main div section header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
    height: 94px;
    font-size: 20px;
}

.contenedor-conversacion {
    max-height: calc(100vh - 94px - 94px - 100px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 20px;
    overflow-y: auto;
}

.line-conversacion {
    border: 1px solid #000;
    margin: 1px;
    padding: 5px 10px;
}

.formulario {
    display: flex;
    align-items: center;
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
    height: 94px;
    padding: 10px;
}

.nick-cliente {
    flex: 1;
    font-size: 40px;
    margin-right: 10px;
}

.espacio-comentario {
    flex: 3;
    font-size: 40px;
    margin-right: 10px;
}

.boton-comentario {
    flex: 1;
    height: 50px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}

.boton-comentario:hover {
    background-color: #444;
    color: #fff;
}

.contenedor-usuarios-conectados {
    display: flex;
    flex-direction: column;
    background-color: #555;
    color: #fff;
    border: 1px solid #000;
    max-height: calc(100vh - 100px);
}

.cabezera-usuarios-conectados {
    height: 94px;
    list-style-type: none;
    padding: 0 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;

}

.usuarios-conectados {
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.usuarios-conectados LI {
    list-style: none;
    padding: 10px 5PX;
}

.messages {
    padding: 0;
}

.message-listado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding-left: 30px;
}

.align-right {
    justify-content:flex-end;
    padding-right: 30px;
}